<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Edit Photo</title>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <header>
        </header>
        <main>
            <form action="/photos/<%=photo._id%>?_method=PUT" method="post">
                <input type="text" name="img" value="<%=photo.img%>"/>
                <br>
                <br>
                <input type="text" name="location" value="<%=photo.location%>"/>
                <br>
                <br>
                <input type="text" name="caption" value="<%=photo.caption%>"/>
                <br>
                <input type="submit" value="Update Photo"/>
            </form>
        </main>
    </body>
</html>