<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <header>
        
        </header>

        <main class="container">
            <div class="show">
                Location: <%=photo.location%>
                <br>
                <img src="<%=photo.img%>">
                <br>
                <small>
                    Photographer: <%=user.username%>
                    <br>
                    <%=photo.caption%>
                </small>
            </div>
            <div class="edit">
                <% if(user.username === username) { %>
                    <a class="button" href="/photos/<%=photo._id%>/edit">Edit</a>
                    <br>
                    <form class="button" action="/photos/<%=photo._id%>?_method=DELETE" method="post">
                        <input type="submit" value="Delete photo"/>
                    </form>
                <% } %>    
            </div>
        </main>
    </body>
</html>