<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <header>
        
        </header>

        <main>
            <section>
                <img src="<%=photo.img%>">
            </section>
            <small>
                <p><%=photo.caption%></p>
                by: <%=user.username%>
                <br>
                location: <%=photo.location%> 
            </small>
            <section>
                <% if(user.username === username) { %>
                    <a href="/photos/<%=photo._id%>/edit">Edit</a>
                    <br>
                    <form action="/photos/<%=photo._id%>?_method=DELETE" method="post">
                        <input type="submit" value="Delete photo"/>
                    </form>
                <% } %>    
            </section>
        </main>
        <aside>
            my photos  
        </aside>
    </body>
</html>