<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include('./partials/navbar.ejs') %>
    <header>
      <%= message %>
    </header>

    <main class="container">
      <section class="article-container">
        <% if(articles.length > 0) { %>
          <div class="featured">
            <a href="/articles/<%=articles[0]._id%>"><%=articles[0].title%></a>
          </div>
          <% for(let i = 1; i < articles.length; i++){ %>
            <% if(i <=3) { %>
              <div class="preview">
                <a href="/articles/<%=articles[i]._id%>"><%=articles[i].title%></a>
              </div>  
            <% } %>
          <% } %>
        <% } %>
      </section>
      <section class="photo-container">
        <% for(let i = 0; i < photos.length; i++){ %>
          <% if(i <3) { %>
            <div class="preview">
              <a href="/photos/<%=photos[i]._id%>">
                <img src="<%=photos[i].img%>" />
              </a>
            </div>
          <% } %>
        <% } %>
      </section>
    </main>
  </body>
</html>