<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WANDRLST</title>
  </head>
  <body>
  <%- include('./partials/navbar.ejs') %>
    <header>
      <%= message %>
    </header>

    <main class="container">
      
      <section class="article-container">
        <div class="featured">
          <div class="welcome">
            Inspire Curiosity
          </div>
        </div>

        <div class="article-previews">
          <% for(let i = 0; i < articles.length; i++){ %>
            <% if(i < 3) { %>
              <div class="preview">
                <a href="/articles/<%=articles[i]._id%>">
                  <%=articles[i].title%>
                  <hr>
                  <p>
                    <small>
                      <%=articles[i].body%>
                    </small>
                  </p>
                </a>
              </div>  
            <% } %>
          <% } %>
        </div>
      </section>
      <div class="index-nav">
        <a href="/articles">MORE ARTICLES</a>
        <a href="/photos">PHOTO GALLERY</a>
      </div>  
      <section class="photo-container">
        <% for(let i = 0; i < photos.length; i++){ %>
          <% if(i <3) { %>
            <div class="preview">
              <a href="/photos/<%=photos[i]._id%>">
                <img src="<%=photos[i].img%>" />
              </a>
            </div>
          <% } %>
        <% } %>
      </section>
      
    </main>
  </body>
</html>