<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include('./partials/navbar.ejs') %>
    <header>
      <%= message %>
    </header>

    <main class="container">
      <section class="article-container">
        <% if(articles.length > 0) { %>
          <article class="featured">
            <a href="/articles/<%=articles[0]._id%>"><%=articles[0].title%></a>
          </article>
          <% for(let i = 1; i < articles.length; i++){ %>
            <% if(i <=3) { %>
              <article class="preview<%=i%>">
                <a href="/articles/<%=articles[i]._id%>"><%=articles[i].title%></a>
              </article>  
            <% } %>
          <% } %>
        <% } %>
      </section>
      <section class="photo-container">
        <% for(let i = 0; i < photos.length; i++){ %>
          <article class="preview">
              <img src="<%=photos[i].img%>" />
          </article>
        <% } %>
      </section>
    </main>
  </body>
</html>