<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include('./partials/navbar.ejs') %>
    <header>
      <%= message %>
    </header>

    <main>
      <section>
        <article class="featured">
            <a href="/articles/<%=articles[0]._id%>"><%=articles[0].title%></a>
        </article>
        <% for(let i = 1; i <= 3; i++){ %>
          <article class="preview">
            <a href="/articles/<%=articles[i]._id%>"><%=articles[i].title%></a>
          </article>
        <% } %>
      </section>
      <section>
        recent photos:
        <% for(let i = 0; i < photos.length; i++){ %>
          <article class="preview">
              <img src="<%=photos[i].img%>" />
          </article>
        <% } %>
      </section>
    </main>
  </body>
</html>