<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <header>
        
        </header>

        <main>
            <h2><%=article.title%></h2>
            <small>
                by: <%=user.username%>
                <br>
                location: <%=article.location%> 
            </small>
            <section>
                <%=article.body%>
            </section>
            <section>
                <a href="/articles/<%=article._id%>/edit">Edit</a>
            </section>
            <section>
                <form action="/articles/<%=article._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Article"/>
                </form>
            </section>
        </main>
        <aside>
            my articles  
        </aside>
    </body>
</html>