<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=article.title%></title>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <header>
        
        </header>

        <main class="article-show">
            
            <div class="article-title">
                <div class="title-left">
                </div>
                <div class="title-center">
                    <%=article.title%>
                </div>
                <div class="title-right"> 
                    <small>
                        By: <%=user.username%>
                    </small>
                </div>
            </div>
            
            <div class="article-info">
                <div>
                    Location: <%=article.location%> 
                </div>
                <% if(user.username === username) { %>
                    <div>
                        <a href="/articles/<%=article._id%>/edit">Edit</a>
                    </div>
                <% } %>  
            </div>

            <div class="article-body">
                <%=article.body%>
            </div>

            <div class="delete-article">  
                <% if(user.username === username) { %>
                    <form action="/articles/<%=article._id%>?_method=DELETE" method="post">
                        <input type="submit" value="Delete Article"/>
                    </form>
                <% } %>    
            </div>

        </main>
    </body>
</html>